<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/estilo.css">

    <title>Fontype</title>
    <link rel="stylesheet" href="css/estilo.css">
</head>

<body>


    <nav>

        <a class="logo" href="index.html">Fontype.</a>


        <div class="menuResponsive">

            <ul>
                <li>
                    <a href="">Fontype</a>
                </li>
                <div class="vlMenuRes"></div>
                <li>
                    <a id="seccionPruebamelink" href="#pruebame">Prueba Buffon™</a>
                </li>
                <div class="vlMenuRes"></div>
                <li>
                    <a class="descarga" href="">Descarga Buffon™</a>
                </li>
            </ul>


        </div>

        <div class="navegacion">

            <ul>
                <li>
                    <a href="">Fontype</a>
                </li>
                <li>
                    <a class="" href=""> Fontype</a>
                </li>
                <li>
                    <a class="" href=""> Blog</a>
                </li>
                <li>
                    <a class="" href=""> Fuentes</a>
                </li>
                <li>
                    <a class="" href=""> Nosotros</a>
                </li>
            </ul>


            <div class="carrito">
                <img src="/img/carrito.png" style="margin-left:3px; margin-top:3px" alt="">
            </div>

            <div class="vl"></div>
            <p class="item">items</p>
        </div>



    </nav>

    <section class="tiendaFuentes">

        <div class="contenedorFiltros">

            <div class="filtros">

                <h1>Categorías</h1>

                <ul class="categorias">
                    <li>
                        <a href="/?categoria=serif">Serif</a>
                    </li>
                    <li>
                        <a href="/?categoria=sansserif">Sans Serif</a>
                    </li>
                    <li>
                        <a href="/?categoria=display">Display</a>
                    </li>
                    <li>
                        <a href="/?categoria=handwriting">HandWriting</a>
                    </li>
                </ul>
                <h1 class="tituloLicencia">Licencia</h1>

                <ul class="licencia">
                    <li>
                        <a href="/?licencia=comercial">Comercial</a>
                    </li>
                    <li>
                        <a href="/?licencia=educativo">Educativo</a>
                    </li>
                    <li>
                        <a href="/?licencia=gratis">Gratis</a>
                    </li>
                </ul>

                <h1 class="tituloLicencia">Numero de estilos</h1>


                <div class="slider">

                    <input type="range" min="1" max="18" value="1" id="estilos" onclick="filtroTres();" />

                    <p>
                        <span id="spanEstilos"></span> estilos</p>
                </div>


            </div>

        </div>


        <div class="listadoFuentes">

            <div class="encabezadoFuentes">


                <div class="ordenar">

                    <a href="#">
                        <img src="img/lista.png" alt="">
                    </a>
                    <a href="#">
                        <img src="img/cuadros.png" alt="">
                    </a>
                    <a href="#">
                        <img src="img/cuadro-texto.png" alt="">
                    </a>

                </div>





            </div>

            <div class="fuentes">


                {{#each fuentes}}
                <div class="fuente">
<img src="{{imagen}}" alt="" class="fuenteImagen">
                <div class="botones">
                    <button class="ver">Ver</button>
                    <button class="agregar">Agregar al carrito</button>

                </div>

                </div>
                


                {{/each}}


            </div>

        </div>




    </section>

    <footer>

        <div class="filaArriba">
            <div class="colUno">


                <h1 class="logo">Fontype.</h1>
                <p>Operated and Managed by Riley Cran (and originally co-founded with Tyler Galpin), Lost Type is the first
                    of its kind, a Pay-What-You-Want type foundry. Since 2011.</p>

                <div class="redes">

                    <svg id="redesIcon" height="40px" width="40px">
                        <path d="M19.86,0a19.85,19.85,0,0,0-3.31,39.43V24H11.76V18.46h4.79V14.37c0-4.75,2.9-7.34,7.13-7.34A38.75,38.75,0,0,1,28,7.25v5H25c-2.29,0-2.74,1.1-2.74,2.7v3.54h5.49L27.06,24H22.28V39.56A19.85,19.85,0,0,0,19.86,0Z"
                        />
                    </svg>
                    <svg id="redesIcon" height="40px" width="40px">
                        <path d="M19.86,23.84a4,4,0,0,0,4-4,4.06,4.06,0,0,0-.75-2.32,4,4,0,1,0-3.23,6.3Z" />
                        <path d="M28.54,15V11.17H24.71l0,3.83Z" />
                        <path class="cls-1" d="M19.86,0A19.86,19.86,0,1,0,39.72,19.86,19.88,19.88,0,0,0,19.86,0Zm11.3,17.54v9.25a4.37,4.37,0,0,1-4.37,4.37H12.93a4.37,4.37,0,0,1-4.36-4.37V12.93a4.36,4.36,0,0,1,4.36-4.36H26.79a4.37,4.37,0,0,1,4.37,4.36Z"
                        />
                        <path d="M26,19.86a6.18,6.18,0,1,1-11.9-2.32H10.77v9.25A2.15,2.15,0,0,0,12.93,29H26.79A2.16,2.16,0,0,0,29,26.79V17.54H25.58A6.19,6.19,0,0,1,26,19.86Z"
                        />
                    </svg>
                    <svg id="redesIcon" height="40px" width="40px">
                        <path d="M19.86,0A19.86,19.86,0,1,0,39.72,19.86,19.88,19.88,0,0,0,19.86,0Zm8.86,15.32c0,.19,0,.39,0,.59a13,13,0,0,1-20,11,9.81,9.81,0,0,0,1.09.07,9.17,9.17,0,0,0,5.68-2,4.58,4.58,0,0,1-4.27-3.18,4,4,0,0,0,.86.09,4.35,4.35,0,0,0,1.2-.17,4.56,4.56,0,0,1-3.67-4.47.11.11,0,0,1,0-.06,4.63,4.63,0,0,0,2.07.57,4.57,4.57,0,0,1-2-3.81,4.63,4.63,0,0,1,.62-2.3,13,13,0,0,0,9.42,4.78,4.42,4.42,0,0,1-.12-1,4.58,4.58,0,0,1,7.91-3.13,9,9,0,0,0,2.91-1.11,4.59,4.59,0,0,1-2,2.53A8.91,8.91,0,0,0,31,13a9.34,9.34,0,0,1-2.28,2.37Z"
                        />
                    </svg>
                </div>

            </div>

            <div class="vl"></div>
            <div class="vl2"></div>
            <div class="colDos">
                <ul>
                    <li>
                        <a href="#">Tienda</a>
                    </li>
                    <li>
                        <a href="#">Sobre Nosotros</a>
                    </li>
                    <li>
                        <a href="#">Contacto</a>
                    </li>
                    <li>
                        <a href="#">Colabora</a>
                    </li>
                </ul>
            </div>
            <div class="vl"></div>
            <div class="vl2"></div>

            <div class="colTres">

                <h1>Suscríbete a nuestro boletín</h1>

                <div class="correo">

                    <input type="text" placeholder="Correo">
                    <button>Suscribirse</button>
                </div>

                <label class="container">Acepto las
                    <span>condiciones de privacidad</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>

            </div>
            <div class="vl"></div>
            <div class="vl2"></div>
            <div class="colCuatro">

                <button class="descarga">Descarga Buffon™</button>
                <a id="seccionPruebameelink" href="">Prueba Buffon™</a>
            </div>


        </div>




        <div class="filaAbajo">
            <div class="vl"></div>

            <div class="derechos">

                <p>All rights reserved Fontype
                    <strong>© 2018.</strong>
                </p>

                <div class="termino">

                    <a href="#">Términos y privacidad</a>
                    <a href="#">Licencias</a>

                </div>

            </div>

        </div>


    </footer>

    <script src="js/filtroTres.js"></script>

</body>

</html>