<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buffon</title>
    <link rel="stylesheet" href="css/estilo.css">
</head>


<body>
    <nav>
<a class="logo" href="index.html">Fontype.</a>
        

        <div class="menuResponsive">

                <ul>
                    <li>
                        <a href="">Fontype</a>
                    </li>
                    <div class="vlMenuRes"></div>
                    <li>
                        <a id="seccionPruebamelink" href="#pruebame">Prueba Buffon™</a>
                    </li>
                    <div class="vlMenuRes"></div>
                    <li>
                        <a class="descarga" href="">Descarga Buffon™</a>
                    </li>
                </ul>
    
    
            </div>

        <div class="navegacion">

            <ul>
                <li>
                    <a href="">Fontype</a>
                </li>
                <li>
                    <a id="seccionPruebamelink" href="#pruebame">Prueba Buffon™</a>
                </li>
                <li>
                    <a class="descarga" href="">Descarga Buffon™</a>
                </li>
            </ul>


            <div class="carrito">
                <img src="/img/carrito.png" style="margin-left:3px; margin-top:3px" alt="">
            </div>

            <div class="vl"></div>
            <p class="item">0</p>
        </div>



    </nav>


    <section class="banner">

        <div class="textoBanner">
            <h1>Buffon</h1>
            <p>
                Una tipografía por
                <strong>Dave Coleman</strong>
                <br>
                <a href="www.dvclmn.com">www.dvclmn.com</a>
            </p>
            <button class="descarga">Descarga Buffon™</button>



        </div>

        <div class="perroEstrellas">

            <img src="/img/perritoBanner.png" alt="" class="perrito">
            <img src="/img/estrellaBanner.png" alt="" class="estrella1">
            <img src="/img/estrellaBanner.png" alt="" class="estrella2">
            <img src="/img/estrellaBanner.png" alt="" class="estrella3">
            <img src="/img/estrellaBanner.png" alt="" class="estrella4">


        </div>


    </section>

     <section class="caracteristicas">

        <div class="colUno">

            <p>
                Aa
            </p>

            <div class="especimen">

                <p>ABCDEFGHIJKLMNÑ
                    <br> OPQRSTUVWXYZ</p>
                <br class="enter">
                <p>abcdefghijklmnñopqr
                    <br> stuvwxyz</p>
                <br class="enter">
                <p>1234567890@&®©$€£
                    <br> ¥¢?‘’“!”:;,.*</p>


            </div>

        </div>

        <div class="vl"></div>
        <div class="ladoDerecho">
            <div class="descripcion">

                <div class="colDos">
                    <p>
                        Buffon is a reverse-contrast display typeface with a playful personality and a very sassy Heavy weight. With four weights,
                        a generous character set, and ligatures & stylistic alts, Buffon shrugs off the tired Spaghetti Western
                        stereotype so often associated with reverse-contrast—but could make a very nice Wanted poster, if
                        the need arose.
                    </p>
                </div>

                <div class="colTres">

                    <p>
                        <span>Diseñador: Dave Coleman</span>
                        <br> Aussie type designer & lettering artist. Happiest when working on things that are a bit silly.
                    </p>
                    <br>
                    <p>
                        <span>Licensing</span>
                        <br> You can Pay-What-You-Want for a Personal Use License. Additional licensing for up to 100 users is
                        also available.
                    </p>

                </div>

            </div>

            <div class="tresCaracteristicas">


                <div class="caracUno">

                    <h1>Lenguajes soportados</h1>
                    <p>
                        <span>+</span>50</p>


                </div>
                <div class="vl"></div>
                <div class="caracDos">

                    <h1>Grandes serifas</h1>

                    <img src="/img/serifas.png" alt="">


                </div>
                <div class="vl"></div>
                <div class="caracTres">

                    <h1>4 pesos</h1>

                    <p>
                        <span class="heavy">B</span>
                        <span class="bold">B</span>
                        <span class="regular">B</span>
                        <span class="thin">B</span>
                    </p>


                </div>


            </div>

        </div>

    </section>

 <script src="js/fuentes.js"></script>
    <script src="js/carrito.js"></script>
   

</body>
</html>