@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,600i,700');
$azulOscuro: #213440;
$verdeClaro: #ced97e;
$lila: #5c60a1;
$amarillo: #FDB84E;
$beige: #FFEFD5;
$turquesa: #37646F;
$menta: #D9E4D7;
$gris: #E1E7E8;
$rojo: #8c2e36;
$piel: #d9c2a7;
$rosa: #f2a595;
@font-face {
    font-family: Buffon-Thin;
    src: url(/Fuentes/Buffon-Thin.otf);
}

@font-face {
    font-family: Buffon-Regular;
    src: url(/Fuentes/Buffon-Regular.otf);
}

@font-face {
    font-family: Buffon-Bold;
    src: url(/Fuentes/Buffon-Bold.otf);
}

@font-face {
    font-family: Buffon-Heavy;
    src: url(/Fuentes/Buffon-Heavy.otf);
}

@font-face {
    font-family: FreeSerifBold;
    src: url(/Fuentes/FreeSerifBold.ttf);
}

@font-face {
    font-family: BreeSerif-Regular;
    src: url(/Fuentes/BreeSerif-Regular.ttf);
}

@font-face {
    font-family: Heritage;
    src: url(/Fuentes/Heritage.otf);
}

* {
    margin: 0px;
    padding: 0px;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #f2f3f3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: -3px;
    .menuHam {
        display: none;
        @media only screen and (max-width: 360px) {
            display: flex;
            width: 40px;
            padding-left: 10px;
        }
    }
    .menuResponsive {
        display: none;
        position: absolute;
        width: 100%;
        background-color: $gris;
        justify-content: center;
        margin-top: 130px;
        padding-bottom: 20px;
        @media only screen and (max-width: 360px) {
            display: flex;
        }
        .vlMenuRes {
            border-bottom: 1px solid $lila;
            width: 100%;
            z-index: 1;
            margin: 0px;
            padding: 0px;
        }
        ul {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        li {
            display: inline-block;
            padding: 20px;
            a {
                text-decoration: none;
                color: $azulOscuro;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 300;
                font-size: 17px;
            }
            a:hover {
                color: $amarillo;
            }
            .descarga {
                background-color: $verdeClaro;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 8px;
                padding-bottom: 8px;
                border-radius: 100px;
                border: solid $lila 1px;
                transition: linear 0.2s;
            }
            .descarga:hover {
                background-color: $lila;
                color: white;
                font-weight: 300;
            }
        }
    }
    .logo {
        text-decoration: none;
        color: $azulOscuro;
        font-family: 'FreeSerifBold';
        font-size: 30px;
        @media only screen and (max-width: 360px) {
            width:100%;
            text-align: center;
        }
    }
    .logo:hover {
        color: $amarillo;
        cursor: pointer;
    }
    ul {
        display: flex;
        @media only screen and (max-width: 360px) {
            display: none;
        }
    }
    li {
        display: inline-block;
        padding-left: 50px;
        a {
            text-decoration: none;
            color: $azulOscuro;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 300;
            font-size: 17px;
        }
        a:hover {
            color: $amarillo;
        }
        .descarga {
            background-color: white;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: 100px;
            border: solid $lila 1px;
            transition: linear 0.2s;
        }
        .descarga:hover {
            background-color: $verdeClaro;
            color: $azulOscuro;
            font-weight: 300;
        }
    }
    .navegacion {
        display: flex;
        align-items: center;
    }
    .carrito {
        background-color: white;
        padding: 5px;
        padding-left: 10px;
        width: 23px;
        height: 27px;
        margin-left: 10px;
        border: none;
        border-left: solid $lila 1px;
        border-top: solid $lila 1px;
        border-bottom: solid $lila 1px;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
        @media only screen and (max-width: 360px) {
            display: none;
        }
    }
    .vl {
        border-left: 1px solid $lila;
        height: 20px;
        z-index: 1;
        @media only screen and (max-width: 360px) {
            display: none;
        }
    }
    .item {
        background-color: white;
        padding: 5px;
        margin-left: -3px;
        width: 60px;
        height: 27px;
        border: none;
        border-right: solid $lila 1px;
        border-top: solid $lila 1px;
        border-bottom: solid $lila 1px;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
        padding-left: 10px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        font-style: italic;
        font-size: 18px;
        color: $lila;
        @media only screen and (max-width: 360px) {
            display: none;
        }
    }
}

.tiendaFuentes {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    .contenedorFiltros {
        background-color: $menta;
        width: 250px;
        display: flex;
        font-family: 'Source Sans Pro', sans-serif;
        .filtros {
            padding: 20px;
            h1 {
                font-family: BreeSerif-Regular;
                color: $azulOscuro;
                font-size: 20px;
            }
            .categorias {
                list-style: none;
                a {
                    font-weight: 400;
                    font-size: 18px;
                    color: $azulOscuro;
                    text-decoration: none;
                }
                a:hover {
                    color: $lila
                }
            }
            .tituloLicencia {
                margin-top: 30px;
            }
            .licencia {
                list-style: none;
                a {
                    font-weight: 400;
                    font-size: 18px;
                    color: $azulOscuro;
                    text-decoration: none;
                }
                a:hover {
                    color: $lila
                }
            }
            .slider {
                #estilos {
                    -webkit-appearance: none;
                    width: 100%;
                    height: 5px;
                    border-radius: 3px;
                    background: $lila;
                    outline: none;
                    opacity: 0.7;
                    -webkit-transition: .2s;
                    transition: opacity .2s;
                }
                #estilos:hover {
                    opacity: 1;
                }
                #estilos::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background: $rojo;
                    cursor: pointer;
                }
                .spanEstilos {
                    font-weight: 400;
                    font-size: 18px;
                    color: $azulOscuro;
                    text-decoration: none;
                }
            }
        }
    }
    .listadoFuentes {
        width: 70%;
        margin-left: -280px;
        .encabezadoFuentes {
            width: 92%;
            height: 60px;
            background-color: $gris;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        .fuentes {
            width: 100%;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            .fuente {
                .fuenteImagen {
                    transform: scale(0.8);
                    cursor: pointer;
                }
                .botones {
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-around;
                    padding-left: 30px;
                    padding-right: 30px;
                    .ver {
                        background-color: $lila;
                        color: white;
                        width: 100px;
                        height: 40px;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-weight: 400;
                        font-size: 18px;
                        border: none;
                        border-radius: 100px;
                    }
                    .ver:hover {
                        background-color: $verdeClaro;
                        color: $azulOscuro;
                        cursor: pointer;
                    }
                    .agregar {
                        background-color: $amarillo;
                        color: $lila;
                        width: 120px;
                        height: 40px;
                        font-family: 'Source Sans Pro', sans-serif;
                        font-weight: 400;
                        font-size: 18px;
                        border: none;
                        border-radius: 100px;
                        line-height: 18px;
                        margin-left: 10px;
                    }
                    .agregar:hover {
                        background-color: $verdeClaro;
                        color: $azulOscuro;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: 400px;
    background-color: $azulOscuro;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    @media only screen and (max-width: 360px) {
        height: 780px;
        margin-top: 70px;
    }
    .filaArriba {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        @media only screen and (max-width: 360px) {
            width: 100%;
            flex-direction: column;
            margin-top: 100px;
        }
        .vl2 {
            @media only screen and (max-width: 360px) {
                border-bottom: 1px solid white;
                width: 90%;
                z-index: 1;
                margin-bottom: 20px;
                margin-top: 20px;
            }
        }
        .vl {
            border-left: 1px solid white;
            height: 200px;
            z-index: 1;
            margin: 30px;
            @media only screen and (max-width: 360px) {
                display:none;
            }
        }
        .colUno {
            width: 15%;
            @media only screen and (max-width: 360px) {
                width: 90%;
                margin-top: -40px;
            }
            .logo {
                text-decoration: none;
                color: white;
                font-family: 'FreeSerifBold';
                font-size: 30px;
            }
            .logo:hover {
                color: $amarillo;
                cursor: pointer;
            }
            p {
                font-family: 'Source Sans Pro', sans-serif;
                color: white;
                font-size: 15px;
                padding-top: 10px;
            }
            .redes {
                margin-top: 20px;
                #redesIcon {
                    fill: white;
                    margin-right: 10px;
                }
                #redesIcon:hover {
                    fill: $amarillo;
                    cursor: pointer;
                }
            }
        }
        .colDos {
            ul {
                list-style: none;
                @media only screen and (max-width: 360px) {
                    display: inline-block;
                }
                li {
                    @media only screen and (max-width: 360px) {
                        display: inline-block;
                        padding: 6px;
                    }
                    a {
                        font-family: 'Source Sans Pro', sans-serif;
                        color: white;
                        font-size: 15px;
                        text-decoration: none;
                    }
                    a:hover {
                        color: $amarillo;
                    }
                }
            }
        }
        .colTres {
            width: 23%;
            @media only screen and (max-width: 360px) {
                width: 90%;
            }
            h1 {
                font-family: BreeSerif-Regular;
                color: white;
                font-size: 20px;
                font-weight: lighter;
            }
            .correo {
                display: flex;
                align-items: center;
                margin-top: 15px;
                input {
                    width: 100%;
                    height: 40px;
                    border: none;
                    border-top-left-radius: 40px;
                    border-bottom-left-radius: 40px;
                }
                input::placeholder {
                    color: $azulOscuro;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: 300;
                    font-size: 15px;
                    padding-left: 20px,
                }
                button {
                    width: 40%;
                    height: 40px;
                    border: none;
                    background-color: $verdeClaro;
                    font-family: BreeSerif-Regular;
                    color: $azulOscuro;
                    font-size: 15px;
                    border-top-right-radius: 40px;
                    border-bottom-right-radius: 40px;
                    margin-left: -4px;
                }
                button:hover {
                    background-color: $lila;
                    cursor: pointer;
                    color: white;
                }
            } //Checkbox________________
            /* The container */
            .container {
                display: block;
                position: relative;
                padding-left: 28px;
                margin-top: 15px;
                cursor: pointer;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 300;
                font-size: 15px;
                color: white;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                span {
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: 600;
                    font-style: italic;
                    font-size: 18px;
                    color: white;
                }
                span:hover {
                    color: $verdeClaro;
                    font-weight: 600;
                }
            }
            /* Hide the browser's default checkbox */
            .container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }
            /* Create a custom checkbox */
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 20px;
                width: 20px;
                background-color: white;
                border-radius: 7px;
            }
            /* On mouse-over, add a grey background color */
            .container:hover input~.checkmark {
                background-color: white;
            }
            /* When the checkbox is checked, add a blue background */
            .container input:checked~.checkmark {
                background-color: $verdeClaro;
            }
            /* Create the checkmark/indicator (hidden when not checked) */
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }
            /* Show the checkmark when checked */
            .container input:checked~.checkmark:after {
                display: block;
            }
            /* Style the checkmark/indicator */
            .container .checkmark:after {
                left: 5px;
                top: 2px;
                width: 7px;
                height: 10px;
                border: solid $azulOscuro;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
        .colCuatro {
            width: 10%;
            @media only screen and (max-width: 360px) {
                width: 60%;
                text-align: center;
            }
            a {
                text-decoration: none;
                color: white;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 300;
                font-size: 17px;
            }
            a:hover {
                color: $amarillo;
            }
            .descarga {
                background-color: transparent;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 8px;
                padding-bottom: 8px;
                border-radius: 100px;
                border: solid white 2px;
                transition: linear 0.2s;
                color: white;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 300;
                font-size: 17px;
                margin-bottom: 15px;
            }
            .descarga:hover {
                background-color: $verdeClaro;
                border: solid $verdeClaro 2px;
                color: $azulOscuro;
                font-weight: 300;
            }
        }
    }
    .filaAbajo {
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        width: 63%;
        @media only screen and (max-width: 360px) {
            width: 90%;
        }
        .vl {
            border-bottom: 1px solid white;
            width: 100%;
            z-index: 1;
            margin-bottom: 15px;
            @media only screen and (max-width: 360px) {
                width: 100%;
                margin-top: 30px;
            }
        }
        .derechos {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media only screen and (max-width: 360px) {
                flex-direction: column;
            }
            p {
                font-family: 'Source Sans Pro', sans-serif;
                color: white;
                font-size: 15px;
            }
            .termino {
                @media only screen and (max-width: 360px) {
                    width: 70%;
                    text-align: center;
                    margin-top: 20px;
                }
                a {
                    text-decoration: none;
                    color: white;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: 300;
                    font-size: 17px;
                    padding-left: 20px;
                }
                a:hover {
                    color: $amarillo;
                }
            }
        }
    }
}

//_____________________ PRODUCTO
.banner {
    width: 100%;
    height: 795px;
    background-image: url(/img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    @media only screen and (max-width: 360px) {
        height: 400px;
    }
    .textoBanner {
        padding: 160px;
        padding-top: 250px;
        @media only screen and (max-width: 360px) {
            padding: 0px;
            padding-top: 0px;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            padding-top: 90px;
        }
        h1 {
            font-family: Buffon-Bold;
            color: $beige;
            font-size: 130px;
            @media only screen and (max-width: 360px) {
                font-size: 70px;
                text-align: center;
            }
        }
        p {
            color: $beige;
            font-family: 'Source Sans Pro', sans-serif;
        }
        a {
            color: $beige;
            text-decoration: none;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 300;
            font-style: italic;
        }
        a:hover {
            color: $verdeClaro;
        }
        button {
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 12px;
            padding-bottom: 12px;
            border-radius: 100px;
            border: none;
            background-color: $beige;
            margin-top: 20px;
            font-size: 15px;
            transition: linear 0.2s;
            cursor: pointer;
        }
        button:hover {
            background-color: $verdeClaro;
        }
    }
    .perroEstrellas {
        @media only screen and (max-width: 360px) {
            display:none;
        }
        .perrito {
            animation: floatPerro 4s ease-in-out infinite; //Animacion flotar
            @keyframes floatPerro {
                0% {
                    transform: translate(350px, 180px);
                }
                50% {
                    transform: translate(350px, 200px);
                }
                100% {
                    transform: translate(350px, 180px);
                }
            }
        }
        .estrella1 {
            animation: floatEstre1 4s ease-in-out infinite; //Animacion flotar
            @keyframes floatEstre1 {
                0% {
                    transform: translate(630px, 150px);
                }
                50% {
                    transform: translate(630px, 130px);
                }
                100% {
                    transform: translate(630px, 150px);
                }
            }
        }
        .estrella2 {
            animation: floatEstre2 4s ease-in-out infinite; //Animacion flotar
            @keyframes floatEstre2 {
                0% {
                    transform: translate(670px, 90px);
                }
                50% {
                    transform: translate(670px, 110px);
                }
                100% {
                    transform: translate(670px, 90px);
                }
            }
        }
        .estrella3 {
            animation: floatEstre3 4s ease-in-out infinite; //Animacion flotar
            @keyframes floatEstre3 {
                0% {
                    transform: translate(680px, 200px);
                }
                50% {
                    transform: translate(680px, 180px);
                }
                100% {
                    transform: translate(680px, 200px);
                }
            }
        }
        .estrella4 {
            position: absolute;
            animation: floatEstre4 4s ease-in-out infinite; //Animacion flotar
            @keyframes floatEstre4 {
                0% {
                    transform: translate(800px, 380px);
                }
                50% {
                    transform: translate(800px, 400px);
                }
                100% {
                    transform: translate(800px, 380px);
                }
            }
        }
    }
}

.caracteristicas {
    display: flex;
    justify-content: center;
    padding-left: 90;
    padding-right: 150px;
    margin-top: 100px;
    @media only screen and (max-width: 360px) {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 50px;
    }
    .colUno {
        width: 300px;
        padding-right: 80px;
        p {
            font-family: Buffon-Bold;
            color: $azulOscuro;
            font-size: 150px;
        }
        .especimen {
            p {
                font-family: Buffon-Bold;
                color: $azulOscuro;
                font-size: 30px;
                @media only screen and (max-width: 360px) {
                    font-size: 25px;
                }
            }
        }
    }
    .vl {
        border-left: 1px solid $azulOscuro;
        height: 500px;
        z-index: 1;
        @media only screen and (max-width: 360px) {
            display:none;
        }
    }
    .ladoDerecho {
        .descripcion {
            display: flex;
            margin-left: 50px;
            height: 180px;
            @media only screen and (max-width: 360px) {
                flex-direction: column;
                margin: 0 auto;
            }
            .colDos {
                width: 300px;
                @media only screen and (max-width: 360px) {
                    width: 250px;
                    margin-top: 30px;
                    padding: 0px;
                }
                p {
                    text-decoration: none;
                    color: $azulOscuro;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: 300;
                    font-size: 15px;
                }
            }
            .colTres {
                width: 300px;
                padding-left: 35px;
                @media only screen and (max-width: 360px) {
                    width: 250px;
                    margin-top: 30px;
                    padding: 0px;
                }
                p {
                    text-decoration: none;
                    color: $azulOscuro;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: 300;
                    font-size: 15px;
                }
                span {
                    font-family: BreeSerif-Regular;
                }
            }
        }
        .tresCaracteristicas {
            display: flex;
            margin-left: 50px;
            justify-content: space-between;
            height: 200px;
            width: 120%;
            @media only screen and (max-width: 360px) {
                flex-direction: column;
                margin: 0 auto;
                margin-top: 300px;
                text-align: center;
                width: 200px;
            }
            h1 {
                font-family: BreeSerif-Regular;
                color: $azulOscuro;
                font-size: 30px;
            }
            .caracUno {
                width: 33.3%;
                @media only screen and (max-width: 360px) {
                    width: 200px;
                    height: 190px;
                    margin: 0 auto;
                }
                p {
                    font-family: Buffon-Bold;
                    color: $verdeClaro;
                    font-size: 120px;
                    margin-top: -15px;
                }
                span {
                    color: $amarillo;
                    font-family: BreeSerif-Regular;
                }
            }
            .caracDos {
                width: 27%;
                padding-left: 35px;
                @media only screen and (max-width: 360px) {
                    width: 200px;
                    height: 190px;
                    margin-top: 120px;
                    margin: 0 auto;
                }
                img {
                    margin-top: -130px;
                    margin-left: -155px;
                    position: absolute;
                    z-index: -2;
                    @media only screen and (max-width: 360px) {
                        margin-top: -130px;
                        margin-left: -240px;
                    }
                }
            }
            .caracTres {
                width: 100px;
                padding-left: 23px;
                @media only screen and (max-width: 360px) {
                    width: 220px;
                    height: 190px;
                    margin-top: 170px;
                    padding-left: 0px;
                }
                p {
                    padding-top: 20px;
                }
                .heavy {
                    font-family: Buffon-heavy;
                    color: $azulOscuro;
                    font-size: 50px;
                }
                .bold {
                    font-family: Buffon-bold;
                    color: $turquesa;
                    font-size: 50px;
                }
                .regular {
                    font-family: Buffon-regular;
                    color: $verdeClaro;
                    font-size: 50px;
                }
                .thin {
                    font-family: Buffon-thin;
                    color: $menta;
                    font-size: 50px;
                }
            }
            .vl {
                border-left: 1px solid $azulOscuro;
                height: 170px;
                z-index: 1;
            }
        }
    }
}

.informacion {
    width: 70%;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 60px;
    h1 {
        font-family: BreeSerif-Regular;
        color: $azulOscuro;
        font-size: 20px;
    }
    p {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 18px;
    }
    hr {
        padding-top: 1px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: $azulOscuro;
    }
}